.search-bar-div{
    padding: 1px;
    background-color: white;
  
  }
  
  form.search-bar{
    margin: 20px;
    justify-content: center;
  }
  
  /* Style the search field */
  form.search-bar input[type=text] {
    width: 80%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
    border-radius: 10px;
  }

    /* Style the search button */

  form.search-bar button {
    padding: 10px;
    margin-left: 20px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  
  /* Clear floats */
  form.search-bar::after {
    content: "";
    clear: both;
    display: table;
  }