.search-bar-div{
    padding: 5px;
    background-color: white;
    padding: 10px;
  
  }
  
  form.search-bar{
    display: block;
    position: relative;
    margin-right: 90px;    

  }
  
  /* Style the search field */
  form.search-bar input[type=text] {
    box-sizing:border-box;
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
    border-radius: 10px;
  }

    /* Style the search button */

  form.search-bar button {
    display: block;
    position: absolute;
    top:0;
    left: 100%;
    margin-left: 10px;
    width: 80px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  
  /* Clear floats */
  form.search-bar::after {
    content: "";
    clear: both;
    display: table;
  }